<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">World Population App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"
           [routerLink]="['/home']"
           routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"
           [routerLink]="['/world-map']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact : true}">Map</a>
    </ul>

    <form class="form-inline my-2 my-lg-0">
       <input class="form-control" type="text" placeholder="Find a country..." [(ngModel)]="countryFilter" name="country"/>
       <div class="search-dropdown" *ngIf = "dropdownVisible">
        <div class="search-dropdown-active" *ngIf = "filteredCountries$ | async as countries">
          <button type="button" class="search-country-item" *ngFor = "let country of countries"
                  [ngClass]="{ active: country?.countryCode === (selectedCountry$ | async)?.countryCode }"
                  (click)="countrySelected(country.countryCode)">
            {{country.countryName}}
          </button>
        </div>
        </div>
    </form>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
