/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "~flag-icons/css/flag-icons.min.css"; /*https://github.com/lipis/flag-icons*/

body{
    margin-top:20px;
    background: #f5f5f5;
}
.card {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
}
.w-60 {
    width: 60px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-weight: 600;
}
.navbar-brand {
    margin: 2px 20px 2px 10px;
    background-color: rgb(146, 137, 5);
    padding: 0.25em;
    border-radius: 0.5em;
    font-weight: bolder;
}
.nav-item {
    background-color: rgb(146, 137, 5);
    border-radius: 0.5em;
    display: flex;
    margin: 2px 10px;
    font-weight: bold;
    cursor: pointer;
}
.list-group-item .fa {
    margin: 0 10px 0 0;
}
.btn-group .btn {
    margin: 0px 5px 0 0;
}
.form-inline{
    display: flex;
    margin: 1px 10px;
    width: 250px;
}
a {
    color: #707070;
}